<!DOCTYPE html>
<html lang="fr">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://glitch.com/favicon.ico">


    <title>Home</title>

    <link rel="stylesheet" type="text/css" href="../../base.css">
  </head>
  <body>
    <div class="page">
        <nav class="navbar">
            <button id="home"><a href="index.html">Home</a></button>
            <button id="about"><a href="pages/about/about.html">about</a></button>
            <button id="questionnaire"><a href="../questionnaire/questionnaire.html"">qcm</a></button>
          </nav>
        <div class="content">
          <div class="title">
            <h1></h1>
          </div>
        </div>
    </div>

    <footer>
      <p>
        &copy; Copyright V.A - 2023 - All Right reserved
      </p>
    </footer>
  </body>
</html>