<!DOCTYPE html>
<html lang="fr">
<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="https://glitch.com/favicon.ico">
	
	<title>Home</title>
	
	<link rel="stylesheet" type="text/css" href="../../base.css">
	<link rel="stylesheet" type="text/css" href=".css">
</head>
<body>
	<div class="page">
		<nav class="navbar">
			<a id="home" class="button" href="../../index.html">Home</a>
			<a id="sommaire" class="button" href="../sommaire/sommaire.html">sommaire</a> 
			<a id="questionnaire" class="button" href="../questionnaire/questionnaire.html">questionnaire</a>
			<a id="about" class="button" href="../about/about.html">about</a>
		</nav>

		<div class="content">
			
			<div class="title">
				<h1></h1>
			</div>
		</div>
	</div>
	
	<footer><p>&copy; Copyright V.A - 2023 - All Right reserved</p></footer>
</body>
</html>