@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@100;200;300;400;500;600;700;800&display=swap'); 

*{
    font-family: 'Trispace', sans-serif;;
    font-weight: 300;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
}

body{
    color: #fff;
    background-color: #020703;
    justify-content: center;
    align-items: center;
    display: block;
    height: auto;
    width: 100%;
}

.navbar{
    padding: 5px;
    display: flex;
    justify-content: right;
}


.navbar a{
    margin: 0.3vh;
    padding: 0.7vh;
    background-color: #020703;
    color: white;
    border-radius: 10px;
}

.navbar a:hover{
    background-color: white;
    color: #020703;
    text-decoration: none;
}

footer{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 2vh;
    background-color: rgba(0, 162, 255, 0.5);
    color: #fff;
    text-align: center;
}

a{
    color: rgb(0, 162, 255);
}

a:hover{
    text-decoration: underline;
}



p{
    text-justify: inter-word;
    text-align: justify;
}

h1{
    font-weight: 700;
}

h2{
    font-weight: 600;
}


@media (max-width: 800px)
{
    *{
        font-size: calc(0.95 * var(--sizetext));
    }
}

*{
    --sizetext : 1em;
}