@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@100;200;300;400;500;600;700;800&display=swap'); 

*{
    font-family: 'Trispace', sans-serif;;
    font-weight: 300;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;

    --sizetext : 1em;
}

body{
    color: #fff;
    background-color: #020703;
    justify-content: center;
    align-items: center;
    display: block;
    height: auto;
    width: 100%;
    line-height: 1.3em;
}

.navbar{
    padding: 5px;
    display: flex;
    justify-content: right;
}


.navbar a{
    margin: 0.3vh;
    padding: 1.5vh;
    color: white;
    border-radius: 10px;
}

.navbar a:hover{
    background-color: white;
    color: #020703;
    text-decoration: none;
}

footer{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 2vh;
    background-color: rgba(0, 162, 255, 0.5);
    color: #fff;
    text-align: center;
}

a{
    color: rgb(0, 162, 255);
}

a:hover, i:hover{
    text-decoration: underline;
}

p{
    text-justify: inter-word;
    text-align: justify;
    font-weight: 400;
}

h1{
    font-weight: 700;
}

h2{
    font-weight: 500;
}

h3{
    font-weight: 600;
    font-size:1.4em;
}

h4{
    font-weight: 600;
    font-size: 1.2em;
}

@media (max-width: 800px)
{
    *{
        font-size: calc(0.95 * var(--sizetext));
    }

    h1{
        font-size: calc(1.4 * var(--sizetext));
    }

    h3{
        font-size: calc(1.1 *var(--sizetext));
    }

    h4{
        font-size: calc(0.8 * var(--sizetext));
    }

    .navbar{
        justify-content: center;
    }
}

abbr{
    display: inline;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

a img{
    cursor: zoom-in;
    margin-top: 2%;
    position: relative;
    width: 100%;
    height: auto;
}
