@keyframes typing1 {
    from { width: 0; }
    to { width:25ch; }
}

@keyframes typing2 {
    from { width: 0; }
    to { width: 100ch; }
}
  

@keyframes blink {
    from { border-color: transparent; }
    to { border-color: white; }
}


.titlebox{
    background-color: transparent;
    background-image: url("images/milky_way.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 45vh;
    padding-bottom: 45vh;
    padding-left:10vw;
    padding-right: 15vw;
    background-position: right;

    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    text-size-adjust:auto;
}

.titlebox .text{
    width:0;
    white-space: nowrap;
}

.titlebox h1{
    max-width:fit-content;
    overflow: hidden;
    border-right: .15em solid transparent;
    animation: 
      typing1 3s steps(27, end) forwards,
      blink .8s infinite;

    margin-bottom: 15px;
    font-weight: 300;
}

.titlebox p{

    font-size: 1em;
    max-width: fit-content;
    border-right: .15em solid transparent;
    overflow: hidden;
    animation: 
      typing2 3s steps(96, end) forwards,
      blink .8s infinite;
    animation-delay: 3s;
}

@media (max-width:1050px) {
    .titlebox p{
        font-size:0.8em;
    }
}

@media (max-width:600px) {
    .titlebox h1{
        animation: none;
        overflow:visible;
    }
    .titlebox p{
        animation: none;
        overflow:visible;
        font-size: 0.4em;
    }
    .titlebox{
        text-align: center;
    }
}


.content{
    display: block;
}

.presentation{
    background-color: white;
    padding: 5%;
    height: 100%;
    width: auto;
    color: #020703;
    display: grid;
}

.presentation .text{
    padding: 8%;
}

.text #title{
    font-weight: 600;
}

.presentation p{
    margin-top: 15px;
}

#sys-link{
    margin-top: 10px;
}

#img-sol{
    margin-top: 15px;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 15px;
    width:40vw;
}
