body{
    background-size:cover;
    background-repeat: no-repeat;
}

.content{
    margin-top: 15vh;
    margin-bottom: 15vh;
    margin-left: 10vw;
    margin-right: 10vw;

    width: auto;
    height: auto;
    align-content: center;
    color: #020703;
}

.content div{
    background-color: rgba(255, 255, 255, 0.7);
    margin: 2%;
    padding: 3%;
}

h3,p{
    padding: 1%;
    margin-bottom: 1%;
}


.question .reponse, select{
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1%;
    border-radius: 10px;
    color: black;
}

.button-r{
    padding: 1%;
    border-radius: 10px;
    background-color: #020703;
    color: white;
}

.button-r:hover{
    color: #020703;
    background-color: white;
}

.button-v{
    padding: 1%;
    margin-bottom: 3%;
    border-radius: 10px;
    background-color: #020703;
    color: white;

}


.button-v:hover{
    color: #020703;
    background-color: white;
}


.score{
    padding-top: 2%;
}

.score p{
    padding: 0;
}