.content{
    margin-left:15vw;
    margin-right: 15vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 10%;
    width: auto;
    height:auto;

    background-color: white;
    color: #020703;

    text-align: center;
}

@media (max-width:800px) 
{
    .content{
        margin-top: 5vh;
        margin-left: 10vw;
        margin-right: 10vw;
    }
}


ul{
    margin-top: 4%;
}

li{
    margin-bottom: 2%;
    list-style-type: none;
}

h2{
    margin-bottom: 2%;
}

h3{
    margin-top: 4%;
    margin-bottom: 2%;
}

#sol{
    color: #020703;
}


a{
    color: #020703;
    text-decoration: underline;
}