ul{
    margin-top: 4%;
}

li{
    margin-bottom: 2%;
    list-style-type: none;
}

.title h2{
    margin-top: 0%;
}


h3{
    margin-top: 4%;
    margin-bottom: 2%;
}

#sol{
    color: #020703;
}


.liens a{
    color: #020703;
    text-decoration: underline;
}