.content{
    margin: 30vh;
    margin-bottom: 10vh;
    padding: 25%;
    padding-bottom: 10vh;
    padding-top: 10vh;

    backdrop-filter: blur(1px) saturate(100%);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    box-shadow: rgba(0,0,0,0.9);
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
}


.content .title{
    margin-bottom: 20px;
}