.content{
    margin-left:15vw;
    margin-right: 15vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 10%;
    width: auto;
    height:auto;

    background-color: white;
    color: #020703;
    text-align: center;
}


@media (max-width:800px) 
{
    .content{
        margin-top: 5vh;
        margin-left: 10vw;
        margin-right: 10vw;
    }
}

.content .title{
    margin-bottom: 2%;
}

h2{
    margin-top: 3%;
    margin-bottom: 2%;
}

#sous-titre{
    font-weight: 600;
    text-align: center;
    margin-bottom: 5%;
}

#sys_sol{
    margin-top: 2%;
    position: relative;
    width: 100%;
    height: auto;
}
