.content{
    margin-left:15%;
    margin-right: 15%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 10%;
    width: auto;
    height:auto;

    background-color: white;
    color: #020703;
}

.content .title{
    margin-bottom: 2%;
}


h2{
    margin-top: 1%;
    margin-bottom: 0.5%;
}

#sys_sol{
    margin-top: 2%;
    position: relative;
    width: 100%;
    height: auto;
}
