body{
    background-size:cover;
    background-repeat: no-repeat;
}

.content{
    margin-left:15vw;
    margin-right: 15vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 10%;
    width: auto;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.5);
    color: #020703;

    text-align: center;
    justify-content: center;
}

@media (max-width:800px) 
{
    .content{
        margin-top: 5vh;
        margin-left: 10vw;
        margin-right: 10vw;
    }
}

h2,h1, h4{
    margin-bottom: 2%;
}

h2,h4{
    margin-top: 3%;
}

table{
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 2px solid #020703;
    border-collapse: collapse;
}

th,td{
    padding: 10px;
    border:2px solid #020703;
}

th{
    font-weight: 500;
}

#a1, #a2{
    color: #020703;
    text-decoration: underline;
}

.text{
    padding-bottom: 3%;
    border-bottom: 1px solid black;
}

#planète{
    margin-top: 3%;
    width: 20vw;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.planète{
    white-space: nowrap;
}

#sep{
    width: 3vw;
    min-width: 10px;
}

ol{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

li{
    text-align: left;
    font-weight: 400;
}